.about {
    &__title {
        margin-bottom: 30px;
        font-size: clamp(1.625rem, 0.6875rem + 4.1667vw, 2.875rem);

        @media (max-width : 576px) {
            margin-bottom: 12px;
        }
    }

    &__content {
        max-width: 80%;
        margin-bottom: 60px;

        @media (max-width : 992px) {
            max-width: 100%;
        }
    }

    &__description {
        line-height: 40px;
        opacity: 0.7;
        font-size: clamp(0.75rem, 0.3750rem + 1.6667vw, 1.25rem);

        @media (max-width : 576px) {
            line-height: 23px;
        }
    }

    &__partners {
        max-width: 90%;
        margin-bottom: 50px;

        @media (max-width : 992px) {
            max-width: 100%;
        }

        &__title {
            font-size: clamp(1.625rem, 0.6875rem + 4.1667vw, 2.875rem);
        }

        &__slogan {
            opacity: 0.7;
            font-size: clamp(0.75rem, 0.3750rem + 1.6667vw, 1.25rem);

            @media (max-width : 576px) {
                margin-bottom: 20px;
            }
        }

        &__logos {

            img {
                max-width: 210px;
            }
        }
    }

    &__news-letters {
        background-color: #121212;

        &__title {
            font-size: clamp(1.625rem, 1.1563rem + 2.0833vw, 2.25rem);
        }

        &__content {
            padding-top: 50px;
            padding-bottom: 50px;

            @media (max-width : 576px) {
                padding-bottom: 20px;
            }
        }

        &__description {
            font-size: clamp(0.75rem, 0.6563rem + 0.4167vw, 0.875rem);
            line-height: 30px;

            @media (max-width : 576px) {
                line-height: 24px;
            }
        }

        &__subscribe-input {
            border: 1px solid #DADBDC;
            border-radius: 30px;
            overflow: hidden;
            max-width: 500px;
            margin-bottom: 80px !important;

            input {
                border: none;
                border-radius: 30px;
                padding: 13px;

                &:focus {
                    outline: none;
                }
            }

            button {
                border: none;
                background-color: #000;
                color: #fff;
                width: 65px;
                height: 55px;
                border-radius: 50%;
                text-align: center;
                margin: 4px 16px;
                cursor: pointer;
            }
        }
    }

}