.course {
    .wrapper {
        max-width: 370px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: calc(100% - 130px);

        @media (max-width : 992px) {
            height: auto;
            max-width: auto;
        }
    }

    &__responsive-cover {}

    .position-fixed {
        position: fixed;
        z-index: 99;

        @media (max-width : 992px) {
            position: relative;
        }
    }

    &__label {
        width: fit-content;
        background-color: #F9ED20;
        position: relative;
        height: 30px;

        &::after {
            position: absolute;
            content: '';
            width: 0;
            height: 0;
            border-left: 17px solid transparent;
            border-right: 17px solid transparent;
            border-bottom: 15px solid rgb(255, 255, 255);
            top: 8px;
            right: -10px;
            transform: rotate(270deg);
        }
    }

    &__author {
        color: #69CBE1;
    }

    &__title {
        font-size: clamp(1.438rem, 0.3130rem + 5.0000vw, 2.938rem);
    }

    &__content {
        opacity: 0.5;
    }

    &__points {
        font-size: 14px;
        line-height: 30px;
        list-style-type: none;
        counter-increment: item;

        li {
            color: #0000007a;

            &:before {
                content: '';
                display: inline-block;
                width: 12px;
                height: 12px;
                margin-right: 5px;
                background-color: #002457;
                border-radius: 50%;
                box-shadow: 0px 0px 0px 3px #00245738;
            }
        }
    }
}