@font-face {
    font-family: "DM-sans";
    src: url("../fonts/DMSans-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "DM-sans";
    src: url("../fonts/DMSans-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "DM-sans";
    src: url("../fonts/DMSans-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Cairo-arabic-sans";
    src: url("../fonts/Cairo-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Cairo-arabic-sans";
    src: url("../fonts/Cairo-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Cairo-arabic-sans";
    src: url("../fonts/Cairo-Regular.ttf");
    font-weight: 400;
}