// ex => text-center text-md-center

@each $breakName,
$breakValue in $breakpoints {
    @if $breakName !="" {
        @include responsive-min($breakValue) {
            @each $prefix in $text-algins {
                .text-#{$breakName}-#{$prefix} {
                    text-align: #{$prefix} !important;
                }
            }
        }
    }

    @else {
        @each $prefix in $text-algins {
            .text-#{$prefix} {
                text-align: #{$prefix} !important;
            }
        }
    }
}



.nav {
    background: transparent;
    transition: all 0.5s ease;
    height: 100px;
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;


    &__logo {
        max-width: 100px;
        color: #FFF;
        cursor: pointer;
        border: none;

        img {
            width: 100%;
        }
    }

    &__search-icon {
        max-width: 18px;
    }


    &__nav-list {
        display: flex;
        list-style: none;


        &__list-item {
            padding: 5px 18px;
            transition: all 0.50s ease;

            @media (max-width : 1200px) {
                padding: 5px 5px;
            }

            a {
                position: relative;
                color: #000;
                margin: 0 5px;
                font-size: 12px;
                font-weight: 500;

                &:hover:after {
                    position: absolute;
                    content: '';
                    bottom: -6px;
                    left: 0;
                    background-color: #69CBE1;
                    width: 30px;
                    height: 2px;
                }

            }

            .active {
                &:after {
                    position: absolute;
                    content: '';
                    bottom: -6px;
                    left: 0;
                    background-color: #69CBE1;
                    width: 30px;
                    height: 2px;
                }
            }

            &:last-child {
                a {
                    color: #69CBE1;
                }
            }
        }
    }



    &__burger-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 40px;
        margin-bottom: 40px;
        gap: 6px;
        cursor: pointer;

        span {
            background-color: #000;
            height: 3px;
            width: 30px;
            display: block;
            border-radius: 4px;
        }
    }

    .side-menu {
        list-style: none;
        position: fixed;
        right: -750px;
        top: 0;
        background-color: #fff;
        width: 700px;
        height: 200%;
        padding-top: 5rem;
        padding-left: 4rem;
        z-index: 999;

        .sub-menu {
            display: none;
        }

        .active {
            .sub-menu {
                display: block;
            }
        }



        @media (max-width : 767px) {
            padding-left: 3rem;
            right: -550px;
            width: 500px;
        }

        @media (max-width : 576px) {
            padding-left: 2rem;
            right: -400px;
            width: 350px;
        }

        &__list {
            list-style: none;

            &__item {
                cursor: pointer;
                margin-bottom: 2rem;
            }

            .sub-menu {
                list-style: none;
                margin-top: 1rem;
                margin-inline-start: 1rem;

                &__item {
                    margin-bottom: 1rem;

                    a {
                        color: #000;
                        opacity: 0.5;

                        &:hover {
                            opacity: 1;
                        }
                    }

                }
            }
        }

        &.active {
            right: 0;
        }

        &__categories {
            margin-bottom: 2rem;

            @media (max-width : 576px) {
                margin-bottom: 1rem;
            }
        }

        &__close {
            position: absolute;
            top: 2rem;
            right: 24%;

            @media (max-width : 576px) {
                right: 12%;
            }

            img {
                width: 20px;
            }
        }

    }
}