.home-class {
    .slick-dots {
        top: 50%;
        right: -30px;
        transform: rotate(90deg);
        z-index: 999;
        width: 200px;
        height: 33px;

        li {
            button:before {
                font-size: 12px;
            }

            &.slick-active button:before {
                color: #072554;
                opacity: 0.3;
            }

            &.slick-active button:before {
                color: #072554;
                opacity: 1;
            }
        }
    }


    &.slick-initialized.slick-slider.slick-dotted {
        margin-bottom: 0 !important;
    }


    margin-top: -155px;
    z-index: 1;
}


.home-mobile-class {
    margin-top: -8rem;
}

.first-carousel {
    background: url("../../../assets/images/slider1.png") top no-repeat;
    background-size: cover;
    height: calc(100vh + 40px);

    @media (max-width : 992px) {
        height: auto;
        background-size: cover;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    &__slogan {
        margin-top: 6rem;
        font-size: clamp(0.75rem, -0.1875rem + 4.1667vw, 2rem);
    }

    &__title {
        font-size: clamp(1.438rem, 0.3130rem + 5.0000vw, 2.938rem);
    }


    &__content {
        font-size: clamp(0.75rem, 0.5625rem + 0.8333vw, 1rem);
    }

}

.instructors {
    background: url("../../../assets/images/instructors-slider.png") top no-repeat;
    background-size: cover;
    height: calc(100vh + 40px);

    @media (max-width : 992px) {
        padding-top: 1.5rem;
        padding-bottom: 5rem;
        height: auto;
    }

    &__title {
        margin-top: 11rem;
        margin-bottom: 3rem;
        font-size: clamp(1.125rem, -0.1875rem + 5.8333vw, 2.875rem);

        @media (max-width : 576px) {
            margin-bottom: 1rem;
        }


        @media (max-width : 992px) {
            margin-top: 2rem;
        }
    }

    &__slider {
        display: flex;
        align-items: center;
    }

    .slick-slide {
        margin: 0 8px;
    }

    .slick-list {
        margin: 0 -8px;
    }

    &__prev-button,
    &__next-button {
        bottom: 0;
        position: absolute;
        bottom: -25%;
        right: 45%;
        border: none;
        background-color: transparent;
        cursor: pointer;
        z-index: 999;

        @media (max-width : 992px) {
            bottom: -15%;
            right: 35%;
        }

    }

    &__prev-button {
        right: auto;
        left: 45%;
        transform: rotate(180deg);

        @media (max-width : 992px) {
            bottom: -13.5%;
            left: 35%;
        }

    }


    .instructor {
        perspective: 500px;
        height: 290px;
        position: relative;
        transition: all 0.5s ease-in-out;
        transform-style: preserve-3d;

        &>div {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: 10px;
            font-family: arial;
            text-align: center;
            background: #EEE;
        }

        &__front {
            z-index: 999;
            backface-visibility: hidden;
            background-size: cover !important;
            background-position: center;
            background-repeat: no-repeat !important;
        }

        &__back {
            z-index: 888;
            transform: rotateY(180deg);
            backface-visibility: hidden;
            line-height: 2;
            background-color: #fff;
        }

        &:hover {
            transform: rotateY(180deg);
        }
    }
}


.testimonials {
    height: calc(100vh + 40px);

    @media (max-width : 992px) {
        height: auto;
        margin-bottom: 6rem;
    }


    &__title {
        margin-top: 11rem;
        margin-bottom: 0.5rem;
        font-size: clamp(1.625rem, 0.6875rem + 4.1667vw, 2.875rem);

        @media (max-width : 992px) {
            margin-top: 2rem;
        }

    }

    &__content {
        opacity: 0.7;
        font-size: clamp(0.75rem, 0.3750rem + 1.6667vw, 1.25rem);
        margin-bottom: 6rem;

        @media (max-width : 576px) {
            margin-bottom: 1rem;
        }
    }

    &__slider {
        display: flex;
        align-items: center;
    }

    .testimonial {
        position: relative;
        background-color: #EFEFEF;
        padding: 38px 30px 30px 38px;

        &::before {
            position: absolute;
            content: '';
            top: -22px;
            left: 40px;
            width: 60px;
            height: 60px;
            background: url("../../../assets/images/quote.svg") center no-repeat;

        }

        // &__image {
        //     width: 90px;
        //     height: 100px;
        //     position: absolute;
        //     top: -55px;
        //     left: -60px;
        //     border-radius: 10px;
        // }

        .italic-font {
            font-style: italic;
        }
    }

    .slick-slide {
        margin: 0 25px;
    }

    .slick-list {
        margin: 0 -25px;
    }

    &__prev-button,
    &__next-button {
        bottom: 0;
        position: absolute;
        bottom: -40%;
        right: 45%;
        border: none;
        background-color: transparent;
        cursor: pointer;
        z-index: 999;

        @media (max-width : 992px) {
            bottom: -25%;
            right: 35%;
        }
    }

    &__prev-button {
        right: auto;
        left: 45%;
        transform: rotate(180deg);

        @media (max-width : 992px) {
            bottom: -23.5%;
            left: 35%;
        }
    }
}




.categories {
    min-height: calc(100vh + 40px);

    @media (max-width : 992px) {
        min-height: auto;
        margin-bottom: 6rem;
    }

    &__title {
        margin-top: 11rem;
        margin-bottom: 1.5rem;
        font-size: clamp(1.125rem, -0.1875rem + 5.8333vw, 2.875rem);

        @media (max-width : 992px) {
            margin-top: 2rem;
        }
    }

    &__tabs {
        margin-bottom: 2.5rem;

        ul {
            gap: 50px;

            @media (max-width : 992px) {
                overflow-y: hidden;
                overflow-x: scroll;
                text-wrap: nowrap;
                gap: 19px;
                padding-bottom: 0.5rem;
            }

            li {
                cursor: pointer;
                font-size: 18px;

                @media (max-width : 992px) {
                    font-size: 14px;
                }

                &.active {
                    font-weight: bold;
                    color: #072554;
                }
            }
        }

    }

    .course-card {
        position: relative;
        overflow: hidden;
        box-shadow: 0px 0 15px 0 rgb(0 0 0 / 9%);
        margin: 4px;


        &__image {
            max-height: 180px;
            overflow: hidden;
        }

        &__content {
            padding: 16px 25px 20px 18px;

        }

        &__author {
            color: #6A9BDE;
        }

        &__price {
            &__before {
                opacity: 0.5;
                text-decoration: line-through;
            }
        }

    }

    .slick-slide {
        margin: 0 5px;
    }

    .slick-list {
        margin: 0 -5px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    &__prev-button,
    &__next-button {
        bottom: 0;
        position: absolute;
        bottom: -15%;
        right: 45%;
        border: none;
        background-color: transparent;
        cursor: pointer;
        z-index: 999;

        @media (max-width : 992px) {
            right: 30%;
        }
    }

    &__prev-button {
        right: auto;
        left: 45%;
        transform: rotate(180deg);

        @media (max-width : 992px) {
            bottom: -13.8%;
            left: 35%;
        }
    }

    .slick-disabled {
        opacity: 0.3;
    }
}

.contact {
    height: calc(100vh + 40px);

    @media (max-width : 992px) {
        height: auto;
        margin-bottom: 3rem;
    }

    &__title {
        margin-bottom: 2.5rem;
        font-size: clamp(1rem, -0.4063rem + 6.2500vw, 2.875rem);

        @media (max-width : 992px) {
            margin-top: 2rem;
            margin-bottom: 1rem;
        }
    }

    &__data {
        max-width: 400px;

        &__address,
        &__mail,
        &__phone {
            opacity: 0.5;
        }

        &__mail,
        &__phone {
            &:hover {
                opacity: 1;
            }
        }

    }

    &__form {
        margin-top: 6rem;

        @media (max-width : 992px) {
            margin-top: 2rem;
        }

        &__btn {
            margin: auto;
            margin-top: 5rem;
            margin-bottom: 3rem;
        }
    }

    input {
        box-sizing: border-box;
        width: 90%;
        height: calc(4rem + 2px);
        margin: 0 0 2rem;
        padding: 4px;
        border: none;
        border-bottom: 1px solid #00000060;
        background: #fff;
        resize: none;
        outline: none;

        &[required]:focus {
            border-color: #979797;
        }

        &[required]:focus+label[placeholder]:before {
            color: #030303;
            color: #69CBE1;
        }

        &[required]:focus+label[placeholder]:before,
        &[required]:valid+label[placeholder]:before {
            transition-duration: 0.2s;
            transform: translate(0, -1.5em) scale(0.9, 0.9);
        }

        &[required]:invalid+label[placeholder][alt]:before {
            content: attr(alt);
        }

        &[required]+label[placeholder] {
            display: block;
            pointer-events: none;
            line-height: 0;
            margin-top: calc(-4em - 2px);
            margin-bottom: calc(3em + 2px);
        }

        &[required]+label[placeholder]:before {
            content: attr(placeholder);
            display: inline-block;
            // margin: 0 calc(1em + 2px);
            padding: 0 2px;
            color: #000;
            white-space: nowrap;
            transition: 0.3s ease-in-out;
            background-image: linear-gradient(to bottom, #fff, #fff);
            background-size: 100% 5px;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}


.course {
    // overflow: hidden;

    .wrapper {
        max-width: 370px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: calc(100% - 130px);

        @media (max-width : 992px) {
            height: auto;
            max-width: auto;
        }
    }

    &__responsive-cover {}

    .position-fixed {
        position: fixed;
        z-index: 99;

        @media (max-width : 992px) {
            position: relative;
        }
    }

    &__label {
        width: fit-content;
        background-color: #F9ED20;
        position: relative;
        height: 30px;

        &::after {
            position: absolute;
            content: '';
            width: 0;
            height: 0;
            border-left: 17px solid transparent;
            border-right: 17px solid transparent;
            border-bottom: 15px solid rgb(255, 255, 255);
            top: 8px;
            right: -10px;
            transform: rotate(270deg);
        }
    }

    &__author {
        color: #69CBE1;
    }

    &__title {
        font-size: clamp(1.438rem, 0.3130rem + 5.0000vw, 2.938rem);
    }

    &__content {
        opacity: 0.5;
    }

    &__points {
        font-size: 14px;
        line-height: 30px;
        list-style-type: none;
        counter-increment: item;

        li {
            color: #0000007a;

            &:before {
                content: '';
                display: inline-block;
                width: 12px;
                height: 12px;
                margin-right: 5px;
                background-color: #002457;
                border-radius: 50%;
                box-shadow: 0px 0px 0px 3px #00245738;
            }
        }
    }
}