.your-class {
    .slick-dots {
        top: 50%;
        right: 0;
        transform: rotate(90deg);
        z-index: 999;
        width: 200px;
        height: 33px;

        li {
            button:before {
                font-size: 12px;
            }

            &.slick-active button:before {
                color: #072554;
                opacity: 0.3;
            }

            &.slick-active button:before {
                color: #072554;
                opacity: 1;
            }
        }
    }


    &.slick-initialized.slick-slider.slick-dotted {
        margin-bottom: 0 !important;
    }


    margin-top: -155px;
    z-index: 1;

    .first-carousel {
        background: url("../../../assets/images/slider1.png") top no-repeat;
        background-size: cover;
        height: calc(100vh + 40px);

        &__slogan {
            margin-top: 6rem;
            font-size: clamp(0.75rem, -0.1875rem + 4.1667vw, 2rem);
        }

        &__title {
            font-size: clamp(1.438rem, 0.3130rem + 5.0000vw, 2.938rem);
        }


        &__content {
            font-size: clamp(0.75rem, 0.5625rem + 0.8333vw, 1rem);
        }

    }
}


.instructors {
    background: url("../../../assets/images/instructors-slider.png") top no-repeat;
    background-size: cover;
    height: calc(100vh + 40px);

    &__slider {
        display: flex;
        align-items: center;
    }

    .slick-slide {
        margin: 0 20px;
    }

    .slick-list {
        margin: 0 -20px;
    }

    &__prev-button,
    &__next-button {
        bottom: 0;
        position: absolute;
        bottom: 15%;
        right: 45%;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    &__prev-button {
        right: auto;
        left: 45%;
        transform: rotate(180deg)
    }


    .instructor {
        perspective: 500px;
        width: 300px;
        height: 350px;
        position: relative;
        transition: all 0.5s ease-in-out;
        transform-style: preserve-3d;

        &>div {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: 10px;
            font-family: arial;
            text-align: center;
            background: #EEE;
        }

        &__front {
            z-index: 999;
            backface-visibility: hidden;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        &__back {
            z-index: 888;
            transform: rotateY(180deg);
            backface-visibility: hidden;
            line-height: 2;
            background-color: #fff;
        }

        &:hover {
            transform: rotateY(180deg);
        }
    }
}