.knowledge-center {
    .cover {
        background-color: #000;
        min-height: 300px;
        margin-bottom: 50px;
        background: url("../../assets/images/knowledge-center-cover.png") center no-repeat;
        background-size: cover;

        &__title {
            font-size: clamp(1rem, -0.1250rem + 5.0000vw, 2.5rem);
            max-width: 700px;
            line-height: 60px;

            @media (max-width : 576px) {
                line-height: 30px;
            }
        }
    }

    .content {
        margin-bottom: 45px;

        @media (max-width : 992px) {
            max-width: 100%;
        }

        &__desc {
            line-height: 25px;
        }

    }

    .master-article {
        margin-bottom: 60px;

        &__image-container {
            overflow: hidden;
            max-height: 380px;
        }

        &__content {
            line-height: 30px;
        }

        a {
            &:hover {
                color: #00215E !important
            }
        }
    }



    .articles {
        margin-top: 25px;
        margin-bottom: 60px;

        .article {
            flex-basis: 30%;

            &__image {
                overflow: hidden;

                img {
                    width: 310px;
                    height: 290px;
                    border-radius: 4px;
                    object-fit: cover;
                }
            }

            a {
                &:hover {
                    color: #00215E !important
                }
            }
        }
    }

    .pagination {
        margin-top: 3rem;
        margin-bottom: 3rem;
        display: flex;
        justify-content: center;

        a {

            color: black;
            float: left;
            text-decoration: none;
            margin-inline-end: 12px;
            border: 1px solid #EBEBEB;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            display: inline-flex;
            justify-content: center;
            align-items: center;


            &.active {
                background-color: transparent;
                border: 1px solid #002457;
                border-radius: 50%;
                color: #002457;
            }

            &.prev-btn,
            &.next-btn {
                background: #E4E7EE;
                color: #5F259F;
            }

            &:hover:not(.active) {
                border: 1px solid #002457;
                border-radius: 50%;
                color: #002457;
            }
        }
    }

    .request-mentorship {
        background: #00215E;

        .cover-image {
            width: 50%;
            max-height: 240px;
            clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);


            @media (max-width : 992px) {
                width: 100%;
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

            }

            img {
                height: 100%;
            }
        }

        .content {
            width: 50%;

            @media (max-width : 992px) {
                text-align: center;
                width: 100%;
                padding: 2rem;
            }
        }
    }

}



.single-article {
    &__title {
        font-size: clamp(1rem, 0.2500rem + 3.3333vw, 2rem);
    }

    &__main-image {
        overflow: hidden;
    }


    .next-prev {

        .next,
        .prev {
            max-width: 200px;
        }
    }
}